<div id="centerForm">
<form id="formAddProduct" action="">
    <label for="title">title</label>
    <input type="text" placeholder="title..." name="title">
    
    <label for="description">description</label>
    <input type="text" placeholder="description.." name="description">

    <label for="code">code</label>
    <input type="text" placeholder="code.." name="code">

    <label for="price">price</label>
    <input type="text" placeholder="price.." name="price">

    <label for="stock">stock</label>
    <input type="text" placeholder="stock.." name="stock">

    <label for="category">category</label>
    <input type="text" placeholder="category.." name="category">

    <label for="price">image</label>
    <input type="text" placeholder="image (link).." name="image">

    <label for="owner">owner</label>
    <input style="background-color: #f1f1f1; color: #888888;cursor: not-allowed;" type="text" value={{userMail}} name="owner">

    <button id="addProduct" type="submit">add product</button>
</form>
</div>

<link rel="stylesheet" href="/styles/form.css">
<script src="/js/createProduct.js"></script>