{{#if validToken}}
<div id="centerDiv" style="display:flex; flex-direction:row; justify-content:center">
<div style="padding:2%;display: flex; flex-direction:column; width:30%">
<input id="newPass" type="password" style="margin-bottom: 10%;" placeholder="enter the password" type="text" name="" id=""> 
<input id="passConfirm" type="password" style="margin-bottom: 10%;" placeholder="repeat the password" type="text" name="" id=""> 
<button id="changePassword">Change pass!</button>
</div>
</div>

{{else}}
<div id="centerDiv" style="display:flex; flex-direction:row; justify-content:center">
<div style="padding:2%;display: flex; flex-direction:column; width:30%">
<input id="recoverEmail" style="margin-bottom: 10%;" type="text" name="" id=""> 
<button id="restorePass">Restore password</button>
</div>
</div>
{{/if}}

<script src="/js/restorePass.js"></script>
<script src="/js/newPass.js"></script>