<div id="divName">
    <h3>Please insert yourName</h3>
    <input id="inputName" type="text" placeholder="insert your name">
</div>

<div id="chatVisible" style="display: none;">
    
    <h3 id="welcome"></h3>
<div class="chatLog">   </div>
<input id='messageInput' type="text" placeholder="type a message">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/chatRealTime.js"></script>