<header>
    <div>Welcome!</div>
    <div class="menuButtons">
        <div id="login">Login!</div>
        <div id="signup">SignUp!</div>
    </div>
</header>

<footer></footer>

<link rel="stylesheet" href="/styles/index.css">
<script src="/js/index.js"></script>