<div id="centerForm">
<form id="formLogin" action="">
    <label for="user">Usuario</label>
    <input type="text" placeholder="E-Mail.." name="email">
    
    <label for="pass">Contraseña</label>
    <input type="password" placeholder="Pass.." name="pass">

    <button type="submit">Iniciar Sesión</button>
</form>
</div>

<link rel="stylesheet" href="/styles/form.css">
<script src="/js/login.js"></script>